.separator {
    margin: 0.5rem 0;
}

.description-label {
    display: flex;
    font-weight: bold;
}

.description {
    text-align: left;
}

.episodes {
    font-weight: bold;
    width: 100%;
}
  