.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-title {
    align-self: flex-start;
    margin-bottom: 4vh;
    color: blue;
    font-size: 6px;
}

.link {
    text-decoration: none;
    color: inherit;
}
  